*{
  margin: 0;
}

.App {
  text-align: center;
}

body{
  background-color: #121212;
  color: aliceblue;
}

.navbar-elements-list{
  display: flex;
  flex-flow: row-reverse;
  list-style-type: none;
  height: fit-content;
  padding-right: 2%;
}

.navbar-elements-list > li{
  display: inline;
  margin: 2% 10px;
  font-size: 24px;
}

.nav-links{
  color: aliceblue;
  text-decoration: none;
}

