*{
  margin: 0;
}

.App {
  text-align: center;
}

body{
  background-color: #121212;
  color: aliceblue;
}

/* Navbar */

.navbar-elements-list{
  display: flex;
  flex-flow: row-reverse;
  list-style-type: none;
  height: fit-content;
  padding-right: 2%;
}

.navbar-elements-list > li{
  display: inline;
  margin: 2% 10px;
  font-size: 24px;
}

.nav-links{
  color: aliceblue;
  text-decoration: none;
}

/* Home */

.banner{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.web-intro{
  font-size: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

.web-intro-super{
  color: #5169F6;
}

.banner-pic{
  margin-bottom: 0%;
  margin-top: auto;
}

.outro-author{
  color: #5169F6;
  text-decoration: wavy;
}

.outro{
  margin-top: 50px;
  margin-bottom: 15px;
}

.home-search-container{
  width: 50%;
  border-radius: 25px;
  border: #5169F6 solid 1px;
  background-color: aliceblue;
  display: inline-block;
  height: max-content;
}

.home-search-text{
  font-size: 24px;
}

.home-search-input{
  width: 90%;
  font-size: 20px;
  border: none;
  padding: 5px;
  background-color: aliceblue;
}

.home-search-button{
  display: inline;
  height: 100%;
  border-radius: 50%;
  width: 10%;
  cursor: pointer;
  margin-top: 2px;
}

.home-search{
  margin: 4.5% 0px;
}

.preview-card{
  border: #5169F6 solid 2px;
  display: flex;
  background-color: #2D2D2D;
  border-radius: 35px;
  margin-bottom: 18px;
}

.preview-card-image{
  border-radius: 50%;
  height: 150px;
  width: 250px;
  margin: 50px 15px;
  border: #5169F6 dashed 5px;
  overflow: hidden;
}

.preview-card-image-tag{
  height: 100%;
  width: 100%;
}

.preview-card-name{
  color: #5169F6;
  font-size: 28px;
}

.preview-card-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.preview-card-button{
  cursor: pointer;
  background-color: aliceblue;
  color: #121212;
  display: block;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;  
}

.home-preview{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 0px;
  width: 100%;
}

.home-preview-left{
  margin: 2%;
}

.home-preview-right{
  margin: 10% 2%;
  margin-bottom: 5%;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #2D2D2D;
}

.footer-text{
  font-size: 24px;
  width: 50%;
  padding: 5% 2%;
  margin: 2%;
}

.footer-link{
  margin: 4%;
  font-size: large;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links-container{
  display: flex;
  justify-content: space-around;
  width: 30%;
  min-width: fit-content;
}

.footer-link-li{
  margin-top: 15px;
}

.footer-link-li-a{
  color: antiquewhite;
  text-decoration: none;
  font-size: x-large;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #121212;
  ;
}

::-webkit-scrollbar-thumb {
  background-color: #5169F6;
  border-radius: 100px;
}

/* Instructors' Page */
.instructors{
  margin-top: 100px;
}

.instructors-main-heading{
  margin: 100px 0px;
}

.instructors-main-heading-special{
  color: #5169F6;
}


.instructor-box{
  margin: 20px 0px;
  cursor: pointer;
}

.instructors-seperate-line{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.instructor-inner-box{
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.instructor-image-box{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  margin-top: auto;
  margin-bottom: auto;
}

.instructor-image{
  height: 100%;
  width: 100%;
}

.instructor-details-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  width: 50%;

}

.instructor-name{
  color: #5169F6;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.instructor-details{
  margin-top: 10px;
  font-size: large;
  text-align: left;
  color: #9ca9f5;
}

.search-suggestions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-suggestion{
  color: #121212;
  background-color: aliceblue;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  margin: 5px auto;
  padding: 5px 0;
  cursor: pointer;
}

.instructor-page-introduction-section{
  height: 90vh;
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.instructor-page-introduction-image-container{
  height: 70%;
  width: 30%;
  display: flex;
}

.instructor-page-image{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #5169F6 solid thin;
  margin: auto auto;
  background-position: center;
}

.instructor-page-name{
  font-size: 50px;
  text-align: left;
  color: #5169F6;
}

.instructor-page-introduction-text-container{
  height: 80%;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.instructor-page-full-details{
  font-size: 30px;
  margin-top: 30px;
  text-align: left;
}

.influencer-list1{
  height: 50vh;
  width: 75%;
  background-color: #2D2D2D;
  margin: 50px auto;
  display: flex;
}

.influencer-list-elements{
  height: 80%;
  width: 30%;
  background-color: #121212;
}

.login-page{
    margin-bottom: 200px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5169F6;
    box-shadow: 1px 1px 15px #5169F6;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    background-color: #2D2D2D;
    color: #c4ccff;
}

.form-element {
  justify-content: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.form-element label{
  font-size: 24px;
  justify-content: start;
  display: flex;
}

.login-page input{
    background-color: #2D2D2D;
    border: 1px solid #5169F6;
    border-radius: 4px;
    color: aliceblue;
    padding: 5px 15px;
    font-size: large;
}

.form-element span{
  display: flex;
  justify-content: end;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  margin-top: 2px;
}

.submit-button{
  background-color: #5169F6;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;  
  color: #c4ccff;
}

.login-switch-text{
  margin-top: 10px;
  font-size: 20px;
  color: aliceblue;
}

.login-switch-text-special{
  color: #5169F6;
  cursor: pointer;
}

.error-message{
  color: red;
  font-size: 20px;
}

.profile-page-container{
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.profile-page{
  display: flex;
  justify-content: space-between;
}

.profile-page-table{
  border: 2px solid #5169F6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  width: 50vw;
}

.profile-page-table th {
  font-size: 24px;
  color: #5169F6;
  margin-right: 20px;
}

.profile-page-table td{
  font-size: 24px;
}

.profile-page-table tr{
  display: flex;
  justify-items: flex-start;
  margin : 0px 50px;
}

.logout-button{
  height: fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #5169F6;
  color: aliceblue;
  cursor: pointer;
}

.logout-button:hover{
  background-color: #031057;
  margin-left: 2px;
}